//
   Created by qiaoliang on 14-6-28.

div
    each blog in bloglist
        div
            .panel.panel-default
                .panel-heading.row(style='margin: 0 0 0 0')
                    h3.col-md-8
                        a(href='blog/blog_detail/'+blog._id) #{blog.blogName}
                    h5.col-md-2
                        - var time = blog.create_time.toDateString();
                        small #{time}   <!-- | 阅读数: -->
                            <!-- span.badge #{blog.safari_count} -->
                    h5.col-md-2
                        if blog.showArtist
                            button.btn.btn-info
                                span.glyphicon.glyphicon-collapse-up
                if blog.showArtist
                    div.panel-body!=blog.content
                    div.panel-body(style='display:none') #{blog.intro}
                else
                    div.panel-body #{blog.intro}