//
   Created by qiaoliang on 14-6-28.

div
    each blog in bloglist
        if blog.isShow
            div.row
                .col-sm-2
                    - var time = blog.create_time;
                    p
                    p.text-right 
                        span.badge #{time.getMonth()+1} / #{time.getDate()}
                        br
                        span.badge #{time.getFullYear()} 
                #article.panel.panel-default.col-sm-10(style='padding: 0px')
                    .panel-heading.row(style='padding: 5px 10px; margin: 0px')
                        h4.col-sm-10: a(href='/blog/detail/'+blog.category + '/' +blog._id) #{blog.blogName}
                        span.col-sm-2
                            p.text-right 
                                if blog.showArtist
                                    button.btn.btn-default(id='showButton', style='display:none')
                                        span.glyphicon.glyphicon-collapse-down
                                    button.btn.btn-default(id='hiddenButton')
                                        span.glyphicon.glyphicon-collapse-up
                    if blog.showArtist
                        #article_detail.panel-body!=blog.content
                        #article_intro.panel-body(style='display:none; padding: 0px')
                            pre(style='border : 0px solid transparent; margin: 0px')!=blog.intro
                    else
                        div.panel-body(style='padding: 0px')
                            pre(style='border : 0px solid transparent; margin: 0px')!=blog.intro